* {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notifications {
  display: grid;
  align-items: center;
  justify-content: center;
}

.notification {
  max-width: 600px;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #CCCCCC;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header strong {
  font-size: 20px;
}

.header p {
  opacity: 0.6;
}